<div class="mat-typography">
    <h2 mat-dialog-title>Add Ticket</h2>
    <mat-dialog-content>
        <section fxLayout="row | wrap" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
                <input matInput placeholder="Ticket #" type="number" [(ngModel)]="ticket.ticketNumber" min="1" max="250">
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="Name" [(ngModel)]="ticket.name">
            </mat-form-field>
        </section>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button color="primary" (click)="saveTicket()">Save</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>