@import './material-snacker.scss';

/*-- Properties --*/
$blue: mat-palette($mat-blue, 600);
$yellow: mat-palette($mat-yellow, 700);

$blue-color: map-get($blue, 600);
$yellow-color: map-get($yellow, 700);
$light-primary-text: rgba(white, 0.87);

/*-- Global Styling --*/
$default-theme: mat-dark-theme($blue, $yellow);
@include angular-material-theme($default-theme);

html, body, app, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.app-body {
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    color: $light-primary-text;
}

code.snippet,
a.link,
.active.active div.mat-list-item-content {
    color: $blue-color;
}

a.link:visited {
    color: $yellow-color;
}