@import './material-snacker.scss';

/*-- Properties --*/
$blue: mat-palette($mat-blue, 600);
$yellow: mat-palette($mat-yellow, 700);

$blue-color: map-get($blue, 600);
$yellow-color: map-get($yellow, 700);
$light-primary-text: rgba(white, 0.87);
$grey-800: map-get($mat-grey, 800);
$grey-700: map-get($mat-grey, 700);

/*-- Global Styling --*/
$default-theme: mat-dark-theme($blue, $yellow);
@include angular-material-theme($default-theme);

html, body, app, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.app-body {
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    color: $light-primary-text;
    padding-bottom: 64px;
}

.app-body h1,
.app-body h2,
.app-body h3,
.app-body h4,
.app-body h5,
.app-body h6,
.app-body p {
    margin: 10px;
}

mat-toolbar.mat-toolbar span,
mat-toolbar.mat-toolbar button {
    margin-right: 15px;
}

mat-form-field.mat-form-field {
    margin: 10px;
}

.app-body .container {
    padding: 8px;
}

[class*="-card"] {
    margin-bottom: 8px;
}

code.snippet,
a.link,
.active.active div.mat-list-item-content {
    color: $blue-color;
}

a.link:visited {
    color: $yellow-color;
}

.contrast {
    background-color: $grey-800;
}

.contrast-stacked {
    background-color: $grey-700;
}

mat-toolbar.mat-toolbar a,
mat-toolbar.mat-toolbar a:visited {
    text-decoration: none;
    color: $light-primary-text;
}