<mat-toolbar>Integrated Features</mat-toolbar>
<mat-tab-group>
    <mat-tab label="Markdown Editor">
        <mat-toolbar color="accent">Editor</mat-toolbar>
        <section fxLayout="column" fxLayoutAlign="start stretch">
            <markdown-editor [minRows]="20" [maxRows]="25" [markdown]="markdown" [showToolbar]="true"></markdown-editor>
            <mat-toolbar color="accent">Preview</mat-toolbar>
            <markdown-preview [markdown]="markdown" fxFlex></markdown-preview>
        </section>
    </mat-tab>
    <mat-tab label="Markdown Editor Usage">
        <mat-toolbar color="accent">Usage</mat-toolbar>
        <hosted-code url="https://gist.githubusercontent.com/JaimeStill/6e9b232f308119855a38430e9e3d0015/raw/7c0cac9096301fb26cda78835adc6b84fb67cbad/markdown-editor.html"
            language="markup"></hosted-code>
        <mat-toolbar color="accent">Relevant Services and Components</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="https://github.com/JaimeStill/webstack/blob/master/ClientApp/app/services/markdown.service.ts" target="_blank">Markdown Service</a>
            <a mat-list-item href="https://github.com/JaimeStill/webstack/tree/master/ClientApp/app/components/blocks/markdown-editor"
                target="_blank">Markdown Editor Components</a>
            <a mat-list-item href="https://github.com/JaimeStill/webstack/blob/master/ClientApp/app/models/core/markdownConfig.ts" target="_blank">Markdown Config</a>
            <a mat-list-item href="https://github.com/JaimeStill/webstack/blob/master/ClientApp/app/models/core/editorValues.ts" target="_blank">Editor Values</a>
        </mat-nav-list>
        <mat-toolbar color="accent">API</mat-toolbar>
        <mat-tab-group>
            <mat-tab label="Markdown Editor Component">
                <section class="api-card" fxLayout="column" fxLayoutAlign="start stretch">
                    <h2>Selector:
                        <code class="snippet-alt">markdown-editor</code>
                    </h2>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">@Input() placeholder: string</code>
                        </h3>
                        <p>
                            The placeholder value for the editor
                            <code class="snippet-alt">textarea</code> element.
                        </p>
                    </section>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">
                    @Input() font: string;
                </code>
                        </h3>
                        <p>
                            The preferred editor font. For available values, refer to the
                            <code class="snippet-alt">fonts</code> array in
                            <a class="link" href="https://github.com/JaimeStill/webstack/blob/master/ClientApp/app/components/blocks/markdown-editor/markdown-toolbar.component.ts"
                                target="_blank">markdown-toolbar.component.ts</a>. Default =
                            <code class="snippet-alt">Consolas</code>.
                        </p>
                    </section>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">
                    @Input() fontSize: number;
                </code>
                        </h3>
                        <p>
                            The preferred editor font size. Default =
                            <code class="snippet-alt">16px</code>.
                        </p>
                    </section>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">
                    @Input() minFontSize: number;
                </code>
                        </h3>
                        <p>
                            Sets the minimum range of font sizes when generating the available range of configurable font sizes in the editor toolbar.
                            Default =
                            <code class="snippet-alt">10</code>.
                        </p>
                    </section>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">
                    @Input() maxFontSize: number;
                </code>
                        </h3>
                        <p>
                            Sets the maximum range of font sizes when generating the available range of configurable font sizes in the editor toolbar.
                            Default =
                            <code class="snippet-alt">20</code>.
                        </p>
                    </section>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">
                    @Input() showToolbar: boolean;
                </code>
                        </h3>
                        <p>
                            Determines whether the toolbar should be shown.
                        </p>
                    </section>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">
                    @Input() minRows: number;
                </code>
                        </h3>
                        <p>
                            Sets the
                            <code class="snippet-alt">matAutosizeMinRows</code> value for the
                            <code class="snippet-alt">textarea</code> element. Default =
                            <code class="snippet-alt">20</code>.
                        </p>
                    </section>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">
                    @Input() maxRows: number;
                </code>
                        </h3>
                        <p>
                            Sets the
                            <code class="snippet-alt">matAutosizeMaxRows</code> value for the
                            <code class="snippet-alt">textarea</code> element. Default =
                            <code class="snippet-alt">25</code>.
                        </p>
                    </section>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">
                    @Input() markdown: MarkdownService;
                </code>
                        </h3>
                        <p>
                            Specifies the instance of
                            <code class="snippet-alt">MarkdownService</code> the editor will use.
                        </p>
                    </section>
                </section>
            </mat-tab>
            <mat-tab label="Markdown Preview Component">
                <section class="api-card" fxLayout="column" fxLayoutAlign="start stretch">
                    <h2>
                        Selector:
                        <code class="snippet-alt">markdown-preview</code>
                    </h2>
                    <section class="property-card contrast mat-elevation-z5">
                        <h3>
                            <code class="snippet">@Input() markdown: MarkdownService;</code>
                        </h3>
                        <p>
                            Specifies the instance of
                            <code class="snippet-alt">MarkdownService</code> the editor will use.
                        </p>
                    </section>
                </section>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Code Snippets">
        <section class="panel-container">
            <h2>Prism Component</h2>
            <p>Used for adding code snippets directly to a document:</p>
            <prism language="typescript">
                export class Demo &#123; id: number; name: string; &#125;
            </prism>
            <h2>Hosted Code</h2>
            <p>Hosts raw code snippets from a provided URL:</p>
            <hosted-code url="https://raw.githubusercontent.com/JaimeStill/webstack/master/ClientApp/app/components/blocks/snippets/hosted-code.component.ts"
                language="typescript"></hosted-code>
        </section>
    </mat-tab>
    <mat-tab label="Code Snippet Usage">
        <mat-toolbar color="accent">Usage</mat-toolbar>
        <section class="panel-container">
            <h2>Prism Component</h2>
            <p><em>Note that with inline components, certain characters have to be escaped for display in HTML.</em></p>
            <hosted-code url="https://gist.githubusercontent.com/JaimeStill/6e9b232f308119855a38430e9e3d0015/raw/2f1c51ebb7db4c818645e9629f5229ec5d209873/prism.html"
                language="markup"></hosted-code>
            <h2>Hosted Code Component</h2>
            <hosted-code url="https://gist.githubusercontent.com/JaimeStill/6e9b232f308119855a38430e9e3d0015/raw/059fbdba3099f800c88fed82b4c9e537229424a2/hosted-code.html"
                language="markup"></hosted-code>
        </section>
        <mat-toolbar color="accent">Relevant Services and Components</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="https://github.com/JaimeStill/webstack/blob/master/ClientApp/app/services/code.service.ts" target="_blank">Code Service</a>
            <a mat-list-item href="https://github.com/JaimeStill/webstack/blob/master/ClientApp/app/services/core-api.service.ts" target="_blank">Core API Service</a>
            <a mat-list-item href="https://github.com/JaimeStill/webstack/tree/master/ClientApp/app/components/blocks/snippets" target="_blank">Snippet Components</a>
        </mat-nav-list>
    </mat-tab>
</mat-tab-group>