<p class="datetime-label">{{label}} - {{date | date:'dd MMM yyyy'}}} {{hours}}:{{minutes}}</p>
<section fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field floatLabel="never">
        <input matInput [matDatepicker]="dp" [placeholder]="label" [(ngModel)]="date" (dateChange)="dateChanged($event)">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start center">
        <p>Hours: </p>
        <mat-slider min="0" max="23" step="1" thumbLabel tickInterval="1" [(ngModel)]="hours" (change)="hoursChanged($event)" fxFlex></mat-slider>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <p>Minutes: </p>
        <mat-slider min="0" max="59" [step]="stepMinutes" thumbLabel tickInterval="1" [(ngModel)]="minutes" (change)="minutesChanged($event)" fxFlex></mat-slider>
    </div>
</section>